<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="global.css" media="all" />
    <link rel="stylesheet" type="text/css" href="workplace_manage.css" media="all" />
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li><a href="./user_list.html" class="nav_item">ユーザー管理</a></li>
          <li><a href="./workplace_manager.html" class="nav_item">勤務場所管理</a></li>          
          <li><a href="./worktime_total.html" class="nav_item">勤務時間集計</a></li>
          <li><a href="./login.html" class="nav_item">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_contents">
        <div class="main_contents_title">
          <h1>部署編集</h1>
        </div>
      </div>
      <input type="button" value="登録" onclick="registContactAddress();" />
    </div>
    <script src="SuperDate.js"></script>
    <script src="attendanceHistory.js"></script>
   </body>
</html>