<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title></title>
	<link rel="stylesheet" type="text/css" href="global.css" media="all" />
    <link rel="stylesheet" type="text/css" href="kintai.css" media="all" />
  </head>
  <body onload="showDate();">
    <header class="header">
      <nav class="global_nav">
        <ul>
          	<li><a href="./kintai_input.html" class="nav_item">勤怠入力</a></li>
 	        <li><a href="./workplace.html" class="nav_item">勤務場所登録</a></li>
			<li><a href="./woekplace_list.html" class="nav_item">勤務場所一覧</a></li>
			<li><a href="./contact_address.html" class="nav_item">連絡先登録</a></li>
          	<li><a href="./attendance_history.html" class="nav_item">勤怠履歴一覧</a></li>
          	<li><a href="./attendance_list.html" class="nav_item">勤怠状況一覧表示</a></li>
          	<li><a href="./login.html" class="nav_item">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div id="kintai">
      <div id="user-name">こんにちは、ななしさん。</div>
      <div id="state">状態：未出勤</div>
      <div id="nowTime" onload="showDate();"></div>
      <div class="attend-leave-buttons">  
        <button id="attendwork">出勤</button>
        <button id="leavingwork">退勤</button>
      </div>
      <div class="rest-buttons">
        <button id="rest-start">休憩開始</button>
        <button id="rest-end">休憩終了</button>
      </div>  
    </div>
    <script src="kintai.js"></script>
  </body>
</html>