<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="global.css" media="all" />
    <link rel="stylesheet" type="text/css" href="user_list.css" media="all" />
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li><a href="./user_list.html" class="nav_item">ユーザー管理</a></li>
          <li><a href="./workplace_manager.html" class="nav_item">勤務場所管理</a></li>
          <li><a href="./worktime_total.html" class="nav_item">勤務時間累計</a></li>
          <li><a href="./login.html" class="nav_item">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_contents">
        <div class="main_contents_title">
          <h1>ユーザー一覧</h1>
        </div>
		<button><a href="user_add.html" class="nav_item">新規登録</a></button>
        <div class="main_contents_body">
        <table class="date-calender">
          <tr>
            <th>名前</th>
            <th>名前</th>
            <th>名前</th>
            <th>名前</th>
			<th>名前</th>
          </tr>
          <tr>
            <th><a href="./user_edit.html">山田太郎</a></th>
			<th><a href="./user_edit.html">山田太郎</a></th>
			<th><a href="./user_edit.html">山田太郎</a></th>
			<th><a href="./user_edit.html">山田太郎</a></th>
			<th><a href="./user_edit.html">山田太郎</a></th>
          </tr>
          <tr>
            <th><a href="./user_edit.html">山田太郎</a></th>
			<th><a href="./user_edit.html">山田太郎</a></th>
			<th><a href="./user_edit.html">山田太郎</a></th>
			<th><a href="./user_edit.html">山田太郎</a></th>
			<th><a href="./user_edit.html">山田太郎</a></th>
          </tr>          
        </table>
        </div>
      </div>
    </div>
   </body>
</html>