<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="style_global.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style_user_manage.css" media="all" />
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li><a href="./user_manage.html" class="nav_item">ユーザー管理</a></li>
          <li><a href="./work_place_manage.html" class="nav_item">勤務場所管理</a></li>          
          <li><a href="./work_time_summary.html" class="nav_item">勤務時間集計</a></li>
          <li><a href="./login.html" class="nav_item">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_contents">
        <div class="main_contents_title">
          <h1>ユーザー一覧</h1>
        </div>
      <div id="add-button">
        <button><a href="user_add.html" style="text-decoration:none;color:white" >新規登録</a></button>
      </div>
      <table class="user-table">
        <thead>
          <tr>
            <th>名前</th>
            <th>名前</th>
            <th>名前</th>
            <th>名前</th>
            <th>名前</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><a href="./user_edit.html">山田太郎</a></th>
            <th><a href="./user_edit.html">名無し2</a></th>
            <th><a href="./user_edit.html">名無し3</a></th>
            <th><a href="./user_edit.html">名無し4</a></th>
            <th><a href="./user_edit.html">名無し5</a></th>
          </tr>
          <tr>
            <th><a href="./user_edit.html">名無し6</a></th>
            <th><a href="./user_edit.html">名無し7</a></th>
            <th><a href="./user_edit.html">名無し8</a></th>
            <th><a href="./user_edit.html">名無し9</a></th>
            <th><a href="./user_edit.html">名無し10</a></th>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>