<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="style_global.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style_workplace_list.css" media="all" />
  </head>
  <body>
    <header class="header">
      <nav class="global_nav">
        <ul>
          <li><a href="./kintai.html" class="nav_item">勤怠入力</a></li>
          <li><a href="./workplace_list.html" class="nav_item">勤務場所一覧</a></li>
          <li><a href="./workplace.html" class="nav_item">勤務場所登録</a></li>
          <li><a href="./contact_address.html" class="nav_item">連絡先登録</a></li>
          <li><a href="./attendance_history.html" class="nav_item">勤怠履歴一覧</a></li>
          <li><a href="./attendance_list.html" class="nav_item">勤怠状況一覧</a></li>
          <li><a href="./bbs.html" class="nav_item">掲示板</a></li>
          <li><a href="./login.html" class="nav_item">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_contents">
        <div class="main_contents_title">
          <h1>勤務場所一覧</h1>
        </div>
        <div class="main_contents_body">
          <table class="date-calender">
            <thead>
              <tr>
                <td>氏名</td>
                <td>事業所</td>
                <td>部署</td>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td width="25%">user1</td>
                  <td width="35%">本社</td>
                  <td width="40%">経理部</td>
                </tr>
                <tr>
                  <td width="25%">user2</td>
                  <td width="35%">支社</td>
                  <td width="40%">営業部</td>
                </tr>
                <tr>
                  <td width="25%">user3</td>
                  <td width="35%">営業所</td>
                  <td width="40%">第三営業部</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   </body>
</html>