<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="global.css" media="all" />
	</head>
	<body>
		<header class="header">
			<nav class="global_nav">
				<ul>
					<li><a href="./user_list.html" class="nav_item">ユーザー管理</a></li>
          			<li><a href="./workplace_manager.html" class="nav_item">勤務場所管理</a></li>          
          			<li><a href="./worktime_total.html" class="nav_item">勤務時間集計</a></li>
          			<li><a href="./login.html" class="nav_item">ログアウト</a></li>
        		</ul>
			</nav>
		</header>
		<div class="main">
			<div class="main_contents">
				<div class="main_contents_title">
					<h1>事務所新規登録</h1>
				</div>
				<div class="main_contents_body">
					<table class="date-calender">
						<tr>
							<th>代表電話番号</th>
							<th><input type="text" name="call"></th>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<th><input type="text" name="mail"></th>
						</tr>
						<tr>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<th>郵便番号</th>
							<th><input type="text" name="postal_first">-<input type="text" name="postal_second"></th>
						</tr>
						<tr>
							<th>所在地 都道府県</th>
							<th><input type="text" name="todouhuken"></th>
						</tr>
						<tr>
							<th>所在地 市区町村</th>
							<th><input type="text" name="sikutyouson"></th>
						</tr>
						<tr>
							<th>所在地 丁目番地</th>
							<th><input type="text" name="tyoumebanti"></th>
						</tr>
						<tr>
							<th>所在地 番地以降</th>
							<th><input type="text" name="bantiikou"></th>
						</tr>
						<tr>
							<th>備考</th>
							<th><input type="text" name="other"></th>
						</tr>
					</table>
					<div id="add"><button>更新</button></div>
					</div>
				<div>
			</div>
		</body>
<hrml>