button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 22px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
#add {
    text-align: center;
    margin-top: 60px;
}
.main {
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
}
.user-add-item {
    margin-top: 35px;
    height: 40px;
}